<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<h5>Dashboard</h5>
<div class="row">
  <div class="col-lg-3 pb-3" style="background-color: #e9e6e6">
    <div class="row">
      <div
        class="col-11 text-white text-center mx-2 rounded pt-2 pv-2 font-weight bold"
        style="background-color: #a39e9e"
      >
        {{ designation }}
      </div>
      <div class="col-12 text-center mt-2">
        <img src="../../assets/user.png" width="120px" alt="" />
      </div>

      <div class="col-12 text-center pt-2 pb-2 font-weight-bold">
        {{ username }}
      </div>

      <div class="col-12 text-center pt-2 pb-2">TEAM SUMMARY</div>

      <div class="col-12 mb-3">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            NO. OF TEAM MEMBERS
            <span class="badge badge-secondary badge-pill">
              {{ noOfTeamMembers }}
            </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            TOTAL COST OF ALL PROJECTS
            <span class="badge badge-secondary badge-pill">
              {{ totalCostOfAllProjects }}
            </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            PENDING TASKS
            <span class="badge badge-secondary badge-pill">
              {{ pendingTasks }}
            </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            UPCOMING PROJECTS
            <span class="badge badge-secondary badge-pill">
              {{ upcomingProjects }}
            </span>
          </li>
        </ul>
      </div>

      <div class="col-12 text-center pt-2 pb-2">CLIENTS</div>
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li *ngFor="let client of clients" class="list-group-item">
            {{ client }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 pt-0 pb-2" style="background-color: #e9e6e6">
        <div class="row mt-2">
          <div class="col-6 text-left">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
              >
                Project A
              </button>
              <div class="dropdown-menu">
                <a href="" class="dropdown-item">Project A</a>
                <a href="" class="dropdown-item">Project B</a>
                <a href="" class="dropdown-item">Project C</a>
                <a href="" class="dropdown-item">Project D</a>
              </div>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
              >
                2022
              </button>
              <div class="dropdown-menu">
                <a href="" class="dropdown-item">2021</a>
                <a href="" class="dropdown-item">2020</a>
                <a href="" class="dropdown-item">2019</a>
                <a href="" class="dropdown-item">2018</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="background-color: #718d97"
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight bold"
      >
        PROJECT BRIEFING
      </div>
      <div class="col-12">
        <table class="table table-borderless">
          <tr>
            <td>Project Cost</td>
            <td>${{ projectCost }}</td>
          </tr>
          <tr>
            <td>Current Expenditure</td>
            <td>${{ currentExpenditure }}</td>
          </tr>
          <tr>
            <td>Available Funds</td>
            <td>${{ availableFunds }}</td>
          </tr>
        </table>
      </div>

      <div
        style="background-color: #718d97"
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight bold"
      >
        TEAM MEMBERS SUMMARY
      </div>
      <div class="col-12">
        <table class="table">
          <tr>
            <th>Region</th>
            <th>Team Members Count</th>
            <th>Temporary Unavailabe Members</th>
          </tr>
          <tr>
            <td>
              <b>East</b>
            </td>
            <td>20</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <b>West</b>
            </td>
            <td>20</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <b>North</b>
            </td>
            <td>20</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <b>South</b>
            </td>
            <td>20</td>
            <td>4</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-3">Box 3</div>
</div>
